/* RightMenu.scss */
.right-menu--parent {
  position: absolute;

  right: 0;
  height: 100%;   
  width: 15%; 
  background-color: #F7F7F6; 
  border-right: 1px solid #C7DEFF80;
  box-shadow: 2px 4px 5px 0px #0000000D;
  display: flex;
  flex-direction: column; 


  .right-menu--child1{
  
    display: block;
    margin-top: 5%;
  }
    .title{
      font-weight: 500;
      font-size: 16px;
      margin-left: 5%;
    }
    .message{
      padding-top: 55%;
      margin-left:15%;
      font-size: 12px;
      color: #828282;
    }
    .search{
      background-color: #828282;
     
    }
    
  }

  
  
  
  