.editable-checkbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .title {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    .option {
      display:flex;
      
      align-items: center;
      margin-bottom: 8px;
      border: none;
      
      input[type="text"] {
        display:flex;
      width: 100%;
        margin-left: 8px;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

    
      
    }
  }
  