// Define variables for commonly used values
$primary-color: #3182ce; // Assuming this is your primary color, adjust as needed
$text-color: #4a5568; // Equivalent to Tailwind's text-gray-700
$paragraph-color: #718096; // Assuming this is your paragraph color, adjust as needed

// Define a mixin for common properties
@mixin common-styles($font-size, $font-weight, $color, $margin-bottom) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  margin-bottom: $margin-bottom;
}

.Form--parent {
  min-height: 100vh;
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Form--child {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 6rem;
    margin-top: 5rem;

    form {
      max-width: 60rem;

      .Form--child1 {
        &--title {
          @include common-styles(1.3rem, 500, $primary-color, 1rem);
        }

        &--description {
          @include common-styles(0.875rem, 400, $paragraph-color, 1rem);
        }

        &--input {
          width: 100%; // Make the input field full width
        }

        &--dropdown {
          width: 100%; 
          font-weight: 500; // Make sure the dropdowns are also full width
        }

        &--label {
          display: block; // Ensure labels are displayed in block
          margin-bottom: 0.5rem;
          font-weight: 500;
          color: $text-color;
        }
      }
    }
  }
}
