.new-survey-container {
  display: flex;
  padding: 0 8%;
  height: 15%;
  margin-top: 1rem;
}

.survey-title {
  width: 80%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 0.5%;
  font-weight: 700;
}

.button-container {
  display: flex;
  width: 20%;
  flex-grow: 1;
  padding-right: 0.5%;
  align-items: center;
  justify-content: flex-end;
}
