.user-container {
  display: flex;
  width: 12vw;
  align-items: right;
  justify-content: right;
  
}

.user-name {
  font-weight: 500;
}

.dropdown-button {
  margin-left: 0.25rem;
}

.drop-down-menu {
  position: absolute;
  margin-top: 2rem;
  margin-left: 0.5rem;
  background-color: white;
  width: 8rem;
  padding: 1rem;
  font-size: 0.875rem;

  border-radius: 0.125rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.drop-down-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-top: 0.25rem;
}

.link {
  text-decoration: none;
  color: #828282;
}

.link:hover {
  color: #3498db;
}
