.custom-dropdown--parent {
  position: relative;

  input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    border: 1.5px solid #CEE1FC;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #3182ce; // Adjust as needed
    }
  }

  .absolute {
    &.inset-y-0 {
      top: 0;
      bottom: 0;
    }

    &.left-2 {
      left: 0.5rem; // Adjust as needed
    }

    &.right-0 {
      right: 0;
    }
  }

  .pr-2 {
    padding-right: 0.5rem; // Adjust as needed
  }

  .pr-6 {
    padding-right: 1.5rem; // Adjust as needed
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .max-h-60 {
    max-height: 15rem; // Adjust as needed
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .bg-white {
    background-color: #fff;
  }

  .border {
    border: 1px solid #E0E0E0; // Adjust as needed
  }

  .rounded-md {
    border-radius: 0.375rem; // Equivalent to Tailwind's rounded-md
  }

  .px-4 {
    padding-left: 1rem; // Adjust as needed
    padding-right: 1rem; // Adjust as needed
  }

  .py-2 {
    padding-top: 0.5rem; // Adjust as needed
    padding-bottom: 0.5rem; // Adjust as needed
  }

  .cursor-pointer {
    cursor: pointer;
  }

 
  .text-primary {
    color: #3182ce; // Adjust as needed
  }

  .text-paragraph {
    color: #4a5568; // Adjust as needed
  }
}
