// Define a mixin for common properties
@mixin common-styles(
  $padding: 0, 
  $border: none, 
  $border-radius: 0, 
  $font-weight: normal, 
  $color: inherit, 
  $background-color: transparent, 
  $box-shadow: none
) {
  padding: $padding;
  border: $border;
  border-radius: $border-radius;
  font-weight: $font-weight;
  color: $color;
  background-color: $background-color;
  box-shadow: $box-shadow;
}


.custom-dropdown--parent {
  position: relative;
  $primary-color: #3498DB;
  font-weight: 400;

input {
    @include common-styles(0.5rem 2.5rem 0.5rem 2rem, 1.5px solid #CEE1FC, 0.5rem, 400, #000, #fff, none);
    width: 90%;
    outline: none;
    position: relative;
    
    
    & ~ .custom-dropdown--search-icon {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      cursor: pointer;
    }

    & ~ .custom-dropdown--arrow-icon {
      position: absolute;
      top: 50%;
      right: 12%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .custom-dropdown--options {
    @include common-styles(0, 1px solid #CEE1FC, 0 0 0.5rem 0.5rem, 400, #828282, #fff, 0 0.5rem 1rem rgba(0, 0, 0, 0.3));
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 90%;
    z-index: 10;
    max-height: 15rem;
    overflow-y: auto;

    .custom-dropdown--option {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #E0E0E0;
        color: $primary-color;
      }
    }
  }
}
