$border-color: #CEE1FC;

// Define styles for the FormInput component
.form-input--parent {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  &--child-1 {
    display: block;
    color: #4a5568; // Equivalent to Tailwind's text-gray-700
    margin-bottom: 0.5rem;
    font-weight: 500; // Equivalent to Tailwind's font-medium
  }

  &--child-2 {
    width: 90%; /* Adjusted width */
    padding: 0.5rem 2.5rem 0.5rem 2rem; // Adjust padding as needed
    border: 1.5px solid $border-color;
    border-radius: 0.5rem;
    outline: none;
    
    // Equivalent to Tailwind's focus:outline-none
  }
}
