.small-component {
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px;
    margin-left: 5%;
    padding: 5px;
    width: 40%;
    height: 60px;
 

    .name{
        font-size: 11px;
        background-color: yellow;
        align-items: center;
    }
    
  }
  