.small-component {
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px;
   background-color: red;
    margin-left: 5%;
    padding: 5px;
    width: 40%;
    height: 60px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    ;

    .name{
        font-size: 10px;
        display: inline-block;
        width: 90%;
        background-color: yellow;
        flex-direction: column;
  justify-content: center;
  align-items: center;
    }
    .icon{

     
    }
    
  }
  