.middle-bar--parent {
  position: absolute;
  left: 15%; /* Assuming the left menu takes 15% of the width */
  right: 15%; /* Assuming the right menu takes 15% of the width */
  height: 10%; /* Converted height to percentage of the viewport */
  background-color: #F7F7F6; 
  border-right: 1px solid #C7DEFF80;
  box-shadow: 2px 4px 5px 0px #0000000D;
  font-weight: 500;
  
  

  .middle-bar--child1 {
    padding-top: 0.8%;
    padding-bottom: 0.5%;
  
    display: flex;
   
  }
  .employee{
    margin-left: 4%;
    width: 72%;
    font-size: 20px;
  }

  .settings {
    margin-top: 0.3%;
    
        font-size: 18px;
        font-weight: 400; 
  }
  .svg{
    margin-top: 1%;
    margin-left: 1% ;
    margin-right: 2%;
  }
  .svg1{
    margin-left: 2%;
    margin-bottom: 1;
  
    
  }
  .view{
    margin-left:1% ;
  }
}
