/* MiddleBar.scss */
.middle-bar--parent {
    position: absolute;
    top: 100px; /* Height of the header */
    left: 200px; /* Width of the left menu */
    right: 200px; /* Width of the right menu */
    height: 70px; /* Adjust height as needed */
    background-color: #F7F7F6; /* Example background color */
    border-right: 1px solid #C7DEFF80;
    box-shadow: 2px 4px 5px 0px #0000000D;
    font-weight: 500;
  }
  