.middle-bar--parent {
  position: absolute;
  left: 15%; /* Assuming the left menu takes 15% of the width */
  right: 15%; /* Assuming the right menu takes 15% of the width */
  height: 10%; /* Converted height to percentage of the viewport */
  background-color: #F7F7F6; 
  border-right: 1px solid #C7DEFF80;
  box-shadow: 2px 4px 5px 0px #0000000D;
  font-weight: 500;
  
  .middle-bar--child {
    display: flex;
    align-items: center;
    padding: 0 5%; /* Converted padding to percentage */
    height: 100%;
  }

  .middle-bar--child1 {


    
    margin-right: 60%; /* Keep margin in vw for better responsiveness */
    display: flex;
    &:last-child {
      margin-right: 0; 
    }
  }

  .settings {
        
        font-weight: 400; 
  }
  .svg{
    margin-top: 8%;
    margin-left: 10% ;
  }
}
